<a href="https://colab.research.google.com/github/parktaeshin/baseball_academy/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None) # 컬럼 수가 많으므로 요약되어 표시되지 않게 함

In [3]:
df = pd.read_excel("/content/drive/MyDrive/야구아카데미/1주차/data.xlsx",engine = "openpyxl")

In [4]:
result = pd.read_excel("/content/drive/MyDrive/야구아카데미/1주차/result.xlsx", engine = "openpyxl")
result

Empty DataFrame
Columns: [Int_Year, Int_Month, Int_Day, Str_Opp.Team, Int_Inning, Int_InningTopOrBottom, Str_Pitcher, Int_BattingOrder, Str_Batter, int_batter_no, Cnt_strike, Cnt_ball, Str_Result, Str_IncludeError, Str_Defender, Int_BeforeCntOut, Int_BeforeOnBase, Int_BeforeHomeScore, Int_BeforeAwayScore, Int_AfterCntOut, Int_AfterOnBase, Int_AfterHomeScore, Int_AfterAwayScore, IntStar_Dif.HomeScore, IntStar_Dif.AwayScore, Sum_Score]
Index: []

In [5]:
df.head(2)

,날짜,팀,이닝,투수,타자,P,결과,이전상황,이후상황,이전상황.1,Unnamed: 10,Unnamed: 11,결과.1,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,2019-03-23,한화,2말,서폴드,6 페르난데스,2019-01-03 00:00:00,2루수 병살타,무사 1루 0:0,2사 0:0,무사,1루,0:0,2루수 병살타,2루수 병살타,NaN,NaN,2루수 병살타,2루수,병살타,NaN,NaN
1,2019-03-23,한화,4말,서폴드,6 페르난데스,2019-01-02 00:00:00,유격수 땅볼,2사 1:2,이닝종료 1:2,2사,1:2,NaN,유격수 땅볼,유격수 땅볼,NaN,NaN,유격수 땅볼,유격수,땅볼,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56666 entries, 0 to 56665
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   날짜           56666 non-null  datetime64[ns]
 1   팀            56666 non-null  object
 2   이닝           56666 non-null  object
 3   투수           56666 non-null  object
 4   타자           56666 non-null  object
 5   P            56562 non-null  object
 6   결과           56666 non-null  object
 7   이전상황         56665 non-null  object
 8   이후상황         56665 non-null  object
 9   이전상황.1       56665 non-null  object
 10  Unnamed: 10  56665 non-null  object
 11  Unnamed: 11  26673 non-null  object
 12  결과.1         56666 non-null  object
 13  Unnamed: 13  46723 non-null  object
 14  Unnamed: 14  9943 non-null   object
 15  Unnamed: 15  0 non-null      float64
 16  Unnamed: 16  56666 non-null  object
 17  Unnamed: 17  46001 non-null  object
 18  Unnamed: 18  50938 non-null  object
 19  Unnamed: 19  2702 non-null   object
 20  Unnamed: 20  1104 non-null   object
dtypes: datetime64[ns](1), float64(1), object(19)
memory usage: 9.1+ MB

In [7]:
# Int_Year, Int_Month, Int_Day

result["Int_Year"] = df["날짜"].apply(lambda x : x.year)
result["Int_Month"] = df["날짜"].apply(lambda x : x.month)
result["Int_Day"] = df["날짜"].apply(lambda x : x.day)

In [8]:
# Str_Opp.Team

result["Str_Opp.Team"] = df["팀"]

In [9]:
# Int_Inning

result["Int_Inning"] = df["이닝"].apply(lambda x : x[0])

In [10]:
# Int_InningTopOrBottom

result["Int_InningTopOrBottom"] = df["이닝"].apply(lambda x : x[1])

In [11]:
# Str_pitcher

result["Str_Pitcher"] = df["투수"]

In [12]:
# Int_BattingOrder

result["Int_BattingOrder"] = df["타자"].apply(lambda x : x.split()[0])

In [13]:
# Str_Batter

result["Str_Batter"] = df["타자"].apply(lambda x : x.split()[1])

In [14]:
# int_batter_no

int_batter_no_dict = pd.DataFrame(df["타자"].apply(lambda x : x.split()[1]).unique()).to_dict()[0]  #
int_batter_no_dict = {v:k for k,v in int_batter_no_dict.items()}
result["int_batter_no"] = df["타자"].apply(lambda x : x.split()[1]).map(int_batter_no_dict)+1

# 노시환 112 , 채태인 114 중간에 건너뜀

In [234]:
# Cnt_strike   스트라잌 상태
df[df["투수"] == "서폴드"]

,날짜,팀,이닝,투수,타자,P,결과,이전상황,이후상황,이전상황.1,Unnamed: 10,Unnamed: 11,결과.1,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,2019-03-23,한화,2말,서폴드,6 페르난데스,2019-01-03 00:00:00,2루수 병살타,무사 1루 0:0,2사 0:0,무사,1루,0:0,2루수 병살타,2루수 병살타,NaN,NaN,2루수 병살타,2루수,병살타,NaN,NaN
1,2019-03-23,한화,4말,서폴드,6 페르난데스,2019-01-02 00:00:00,유격수 땅볼,2사 1:2,이닝종료 1:2,2사,1:2,NaN,유격수 땅볼,유격수 땅볼,NaN,NaN,유격수 땅볼,유격수,땅볼,NaN,NaN
2,2019-03-23,한화,6말,서폴드,6 페르난데스,2019-02-03 00:00:00,우익수 안타,"2사 1,2루 2:2","2사 1,3루 2:3",2사,"1,2루",2:2,우익수 안타,우익수 안타,NaN,NaN,우익수 안타,우익수,안타,NaN,NaN
239,2019-05-26,한화,1말,서폴드,3 페르난데스,2019-02-01 00:00:00,페르난데스/13927 : 삼진 아웃,2사 0:0,이닝종료 0:0,2사,0:0,NaN,페르난데스/13927,NaN,삼진 아웃,NaN,삼진 아웃,NaN,삼진아웃,NaN,NaN
240,2019-05-26,한화,3말,서폴드,3 페르난데스,2019-02-03 00:00:00,볼넷,"1사 1,3루 1:0",1사 만루 1:0,1사,"1,3루",1:0,볼넷,볼넷,NaN,NaN,볼넷,볼넷,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55934,2019-06-01,한화,2말,서폴드,7 남태혁,2-0,2루수 병살타,1사 1루 0:0,이닝종료 0:0,1사,1루,0:0,2루수 병살타,2루수 병살타,NaN,NaN,2루수 병살타,2루수,병살타,NaN,NaN
55935,2019-06-01,한화,5말,서폴드,7 남태혁,1-0,좌익수 안타,1사 0:0,1사 1루 0:0,1사,0:0,NaN,좌익수 안타,좌익수 안타,NaN,NaN,좌익수 안타,좌익수,안타,NaN,NaN
56352,2019-05-03,한화,7초,서폴드,9 김영환,2019-02-02 00:00:00,김영환/11332 : 삼진 아웃,2사 2루 1:1,이닝종료 1:1,2사,2루,1:1,김영환/11332,NaN,삼진 아웃,NaN,삼진 아웃,NaN,삼진아웃,NaN,NaN
56517,2019-03-29,한화,2초,서폴드,7 박헌욱,2019-02-02 00:00:00,박헌욱/11163 : 삼진 아웃,무사 0:0,1사 0:0,무사,0:0,NaN,박헌욱/11163,NaN,삼진 아웃,NaN,삼진 아웃,NaN,삼진아웃,NaN,NaN
56518,2019-03-29,한화,4초,서폴드,7 박헌욱,2019-02-01 00:00:00,삼진,2사 0:2,이닝종료 0:2,2사,0:2,NaN,삼진,삼진,NaN,NaN,삼진,삼진,NaN,NaN,NaN

In [232]:
df.head()

,날짜,팀,이닝,투수,타자,P,결과,이전상황,이후상황,이전상황.1,Unnamed: 10,Unnamed: 11,결과.1,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,2019-03-23,한화,2말,서폴드,6 페르난데스,2019-01-03 00:00:00,2루수 병살타,무사 1루 0:0,2사 0:0,무사,1루,0:0,2루수 병살타,2루수 병살타,NaN,NaN,2루수 병살타,2루수,병살타,NaN,NaN
1,2019-03-23,한화,4말,서폴드,6 페르난데스,2019-01-02 00:00:00,유격수 땅볼,2사 1:2,이닝종료 1:2,2사,1:2,NaN,유격수 땅볼,유격수 땅볼,NaN,NaN,유격수 땅볼,유격수,땅볼,NaN,NaN
2,2019-03-23,한화,6말,서폴드,6 페르난데스,2019-02-03 00:00:00,우익수 안타,"2사 1,2루 2:2","2사 1,3루 2:3",2사,"1,2루",2:2,우익수 안타,우익수 안타,NaN,NaN,우익수 안타,우익수,안타,NaN,NaN
3,2019-03-23,한화,8말,이태양,6 페르난데스,2019-02-01 00:00:00,좌익수 2루타[실책포함],"2사 1,2루 3:3",이닝종료 3:5,2사,"1,2루",3:3,좌익수 2루타[실책포함],좌익수 2루타[실책포함],NaN,NaN,좌익수 2루타[실책포함],좌익수,2루타[실책포함],NaN,NaN
4,2019-03-24,한화,2말,채드벨,6 페르난데스,2-0,페르난데스/13927 : 삼진 아웃,1사 2:0,2사 2:0,1사,2:0,NaN,페르난데스/13927,NaN,삼진 아웃,NaN,삼진 아웃,NaN,삼진아웃,NaN,NaN

In [ ]:
# Cnt_ball    볼 상태

In [16]:
# Str_Result

In [53]:
# Str_IncludeError
for i in range(0,len(df)):
  if "실책" in df["결과"].apply(lambda x : str(x))[i] :
    result.loc[i,"Str_IncludeError"] = "실책"
  else : 
    result.loc[i,"Str_IncludeError"] = None

# 11분 5초...

In [70]:
# Str_Defender

defender_list = ["1루수","2루수","3루수","유격수","투수","포수","좌익수","우익수","중견수"]

for i in range(0,len(df)):
  if df["결과"].apply(lambda x : x.split()[0])[i] in defender_list :
    result.loc[i,"Str_Defender"] = df["결과"].apply(lambda x : x.split()[0])[i]
  else :
    result.loc[i,"Str_Defender"] = None

# 40분

In [71]:
# result.to_excel("/content/drive/MyDrive/야구아카데미/1주차/backup.xlsx")
# backup = pd.read_excel("/content/drive/MyDrive/야구아카데미/1주차/backup.xlsx", engine = "openpyxl")

In [79]:
# Int_BeforeCntOut 결과 전 아웃 카운트

out_dict = {"무사" : 0,
            "1사" : 1,
            "2사" : 2}

result["Int_BeforeCntOut"] = df["이전상황"].astype(str).apply(lambda x : x.split()[0]).map(out_dict)

In [116]:
# Int_BeforeOnBase 결과 전 베이스 현황 
# 없음 = 0, 1루 = 1, 2루 = 2, 3루 = 3, 12루 = 12, 13루 = 13, 23루 = 23, 만루 = 123

before_dict = {"1루" : 1, "2루" : 2, "3루" : 3, "1,2루" : 12, "1,3루" : 13, "2,3루" : 23, "만루" : 123}

result["Int_BeforeOnBase"] = df["Unnamed: 10"].map(before_dict)
result["Int_BeforeOnBase"].fillna(0, inplace = True)

#df["이전상황"].astype(str).apply(lambda x : x.split()).apply(lambda x : len(x) == 1)
#df.loc[df["이전상황"].astype(str).apply(lambda x : x.split()).apply(lambda x : len(x) == 1)]

In [127]:
# Int_BeforeHomeScore 결과 전 홈 점수 현황(홈=투수)

result["Int_BeforeHomeScore"] = df["이전상황"].astype(str).apply(lambda x : x.split()[-1]).apply(lambda x : x.split(":")[0])

In [140]:
# Int_BeforeAwayScore 결과 전 어웨이 점수 현화(어웨이 = 타자)
result["Int_BeforeAwayScore"] = df["이전상황"].astype(str).apply(lambda x : x.split()[-1]).apply(lambda x : x.split(":")[-1])

In [148]:
# Int_AfterCntOut 결과 이후 아웃 카운트

out_dict = {"이닝종료" : 0,
            "1사" : 1,
            "2사" : 2}

result["Int_AfterCntOut"] = df["이후상황"].astype(str).apply(lambda x : x.split()[0]).map(out_dict)

In [142]:
# Int_AfterOnBase 결과 이후 베이스 현황
# 아직 못함

after_dict = {"1루" : 1, "2루" : 2, "3루" : 3, "1,2루" : 12, "1,3루" : 13, "2,3루" : 23, "만루" : 123}

result["Int_AfterOnBase"] = df["Unnamed: 10"].map(after_dict)
result["Int_AfterOnBase"].fillna(0, inplace = True)

In [150]:
# Int_AfterHomeScore 결과 이후 홈 점수 현황(홈=투수)
result["Int_AfterHomeScore"] = df["이후상황"].astype(str).apply(lambda x : x.split()[-1]).apply(lambda x : x.split(":")[0])

In [151]:
# Int_AfterAwayScore 결과 이후 어웨이 점수 현황(어웨이 = 타자)
result["Int_AfterAwayScore"] = df["이후상황"].astype(str).apply(lambda x : x.split()[-1]).apply(lambda x : x.split(":")[-1])

In [215]:
# IntStar_Dif.HomeScore 결과 전후 홈 점수 차이
result.iloc[56548] = result.iloc[56548].fillna(0)
result.loc[56548,["Int_BeforeHomeScore","Int_BeforeAwayScore","Int_AfterHomeScore","Int_AfterAwayScore"]] = 0
result["IntStar_Dif.HomeScore"] = pd.to_numeric(result["Int_AfterHomeScore"]) - pd.to_numeric(result["Int_BeforeHomeScore"])

In [219]:
# IntStar_Dif.AwayScore 결과 전후 어웨이 점수 차이
result["IntStar_Dif.AwayScore"] = pd.to_numeric(result["Int_AfterAwayScore"]) - pd.to_numeric(result["Int_BeforeAwayScore"])

In [221]:
# Sum_Score 득점 합(홈 어웨이 상관 없음)
result["Sum_Score"] = result["IntStar_Dif.HomeScore"] + result["IntStar_Dif.AwayScore"]

In [222]:
result.head()

,Int_Year,Int_Month,Int_Day,Str_Opp.Team,Int_Inning,Int_InningTopOrBottom,Str_Pitcher,Int_BattingOrder,Str_Batter,int_batter_no,Cnt_strike,Cnt_ball,Str_Result,Str_IncludeError,Str_Defender,Int_BeforeCntOut,Int_BeforeOnBase,Int_BeforeHomeScore,Int_BeforeAwayScore,Int_AfterCntOut,Int_AfterOnBase,Int_AfterHomeScore,Int_AfterAwayScore,IntStar_Dif.HomeScore,IntStar_Dif.AwayScore,Sum_Score
0,2019,3,23,한화,2,말,서폴드,6,페르난데스,1,NaN,NaN,NaN,None,2루수,0.0,1.0,0,0,2.0,NaN,0,0,0,0,0
1,2019,3,23,한화,4,말,서폴드,6,페르난데스,1,NaN,NaN,NaN,None,유격수,2.0,0.0,1,2,0.0,NaN,1,2,0,0,0
2,2019,3,23,한화,6,말,서폴드,6,페르난데스,1,NaN,NaN,NaN,None,우익수,2.0,12.0,2,2,2.0,NaN,2,3,0,1,1
3,2019,3,23,한화,8,말,이태양,6,페르난데스,1,NaN,NaN,NaN,실책,좌익수,2.0,12.0,3,3,0.0,NaN,3,5,0,2,2
4,2019,3,24,한화,2,말,채드벨,6,페르난데스,1,NaN,NaN,NaN,None,None,1.0,0.0,2,0,2.0,NaN,2,0,0,0,0