<a href="https://colab.research.google.com/github/parktaeshin/baseball_academy/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None) # 컬럼 수가 많으므로 요약되어 표시되지 않게 함
pd.set_option('display.max_rows', 30) #  행 수가 많으므로 요약되어 표시되지 않게 함

In [3]:
df = pd.read_excel("/content/drive/MyDrive/야구아카데미/1주차/data.xlsx",engine = "openpyxl")

In [4]:
result = pd.read_excel("/content/drive/MyDrive/야구아카데미/1주차/result.xlsx", engine = "openpyxl")
result

Empty DataFrame
Columns: [Int_Year, Int_Month, Int_Day, Str_Opp.Team, Int_Inning, Int_InningTopOrBottom, Str_Pitcher, Int_BattingOrder, Str_Batter, int_batter_no, Cnt_strike, Cnt_ball, Str_Result, Str_IncludeError, Str_Defender, Int_BeforeCntOut, Int_BeforeOnBase, Int_BeforeHomeScore, Int_BeforeAwayScore, Int_AfterCntOut, Int_AfterOnBase, Int_AfterHomeScore, Int_AfterAwayScore, IntStar_Dif.HomeScore, IntStar_Dif.AwayScore, Sum_Score]
Index: []

In [5]:
df.head(2)

,날짜,팀,이닝,투수,타자,P,결과,이전상황,이후상황,이전상황.1,Unnamed: 10,Unnamed: 11,결과.1,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,2019-03-23,한화,2말,서폴드,6 페르난데스,2019-01-03 00:00:00,2루수 병살타,무사 1루 0:0,2사 0:0,무사,1루,0:0,2루수 병살타,2루수 병살타,NaN,NaN,2루수 병살타,2루수,병살타,NaN,NaN
1,2019-03-23,한화,4말,서폴드,6 페르난데스,2019-01-02 00:00:00,유격수 땅볼,2사 1:2,이닝종료 1:2,2사,1:2,NaN,유격수 땅볼,유격수 땅볼,NaN,NaN,유격수 땅볼,유격수,땅볼,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56666 entries, 0 to 56665
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   날짜           56666 non-null  datetime64[ns]
 1   팀            56666 non-null  object
 2   이닝           56666 non-null  object
 3   투수           56666 non-null  object
 4   타자           56666 non-null  object
 5   P            56562 non-null  object
 6   결과           56666 non-null  object
 7   이전상황         56665 non-null  object
 8   이후상황         56665 non-null  object
 9   이전상황.1       56665 non-null  object
 10  Unnamed: 10  56665 non-null  object
 11  Unnamed: 11  26673 non-null  object
 12  결과.1         56666 non-null  object
 13  Unnamed: 13  46723 non-null  object
 14  Unnamed: 14  9943 non-null   object
 15  Unnamed: 15  0 non-null      float64
 16  Unnamed: 16  56666 non-null  object
 17  Unnamed: 17  46001 non-null  object
 18  Unnamed: 18  50938 non-null  object
 19  Unnamed: 19  2702 non-null   object
 20  Unnamed: 20  1104 non-null   object
dtypes: datetime64[ns](1), float64(1), object(19)
memory usage: 9.1+ MB

In [7]:
# Int_Year, Int_Month, Int_Day

result["Int_Year"] = df["날짜"].apply(lambda x : x.year)
result["Int_Month"] = df["날짜"].apply(lambda x : x.month)
result["Int_Day"] = df["날짜"].apply(lambda x : x.day)

In [8]:
# Str_Opp.Team

result["Str_Opp.Team"] = df["팀"]

In [9]:
# Int_Inning

result["Int_Inning"] = df["이닝"].apply(lambda x : x[0])

In [10]:
# Int_InningTopOrBottom

result["Int_InningTopOrBottom"] = df["이닝"].apply(lambda x : x[1])

In [11]:
# Str_pitcher

result["Str_Pitcher"] = df["투수"]

In [12]:
# Int_BattingOrder

result["Int_BattingOrder"] = df["타자"].apply(lambda x : x.split()[0])

In [13]:
# Str_Batter

result["Str_Batter"] = df["타자"].apply(lambda x : x.split()[1])

In [14]:
# int_batter_no

int_batter_no_dict = pd.DataFrame(df["타자"].apply(lambda x : x.split()[1]).unique()).to_dict()[0]  #
int_batter_no_dict = {v:k for k,v in int_batter_no_dict.items()}
result["int_batter_no"] = df["타자"].apply(lambda x : x.split()[1]).map(int_batter_no_dict)+1

# 노시환 112 , 채태인 114 중간에 건너뜀

In [53]:
# Str_IncludeError 수비 에러 여부
for i in range(0,len(df)):
  if "실책" in df["결과"].apply(lambda x : str(x))[i] :
    result.loc[i,"Str_IncludeError"] = "실책"
  else : 
    result.loc[i,"Str_IncludeError"] = None

# 11분 5초...

In [70]:
# Str_Defender 수비 포지션

defender_list = ["1루수","2루수","3루수","유격수","투수","포수","좌익수","우익수","중견수"]

for i in range(0,len(df)):
  if df["결과"].apply(lambda x : x.split()[0])[i] in defender_list :
    result.loc[i,"Str_Defender"] = df["결과"].apply(lambda x : x.split()[0])[i]
  else :
    result.loc[i,"Str_Defender"] = None

# 40분

In [275]:
# Int_BeforeCntOut 결과 전 아웃 카운트

out_dict = {"무사" : 0,
            "1사" : 1,
            "2사" : 2}

result["Int_BeforeCntOut"] = df["이전상황"].astype(str).apply(lambda x : x.split()[0]).map(out_dict)

In [276]:
# Int_BeforeOnBase 결과 전 베이스 현황 
# 없음 = 0, 1루 = 1, 2루 = 2, 3루 = 3, 12루 = 12, 13루 = 13, 23루 = 23, 만루 = 123

before_dict = {"1루" : 1, "2루" : 2, "3루" : 3, "1,2루" : 12, "1,3루" : 13, "2,3루" : 23, "만루" : 123}

result["Int_BeforeOnBase"] = df["Unnamed: 10"].map(before_dict)
result["Int_BeforeOnBase"].fillna(0, inplace = True)

#df["이전상황"].astype(str).apply(lambda x : x.split()).apply(lambda x : len(x) == 1)
#df.loc[df["이전상황"].astype(str).apply(lambda x : x.split()).apply(lambda x : len(x) == 1)]

In [277]:
# Int_BeforeHomeScore 결과 전 홈 점수 현황(홈=투수)

result["Int_BeforeHomeScore"] = df["이전상황"].astype(str).apply(lambda x : x.split()[-1]).apply(lambda x : x.split(":")[0])

In [278]:
# Int_BeforeAwayScore 결과 전 어웨이 점수 현화(어웨이 = 타자)
result["Int_BeforeAwayScore"] = df["이전상황"].astype(str).apply(lambda x : x.split()[-1]).apply(lambda x : x.split(":")[-1])

In [279]:
# Int_AfterCntOut 결과 이후 아웃 카운트

out_dict = {"이닝종료" : 0,
            "1사" : 1,
            "2사" : 2}

result["Int_AfterCntOut"] = df["이후상황"].astype(str).apply(lambda x : x.split()[0]).map(out_dict)

In [280]:
# Int_AfterOnBase 결과 이후 베이스 현황

df.iloc[56548] = df.iloc[56548].fillna(0)
df.loc[56548,"이후상황"] = "0 0"
after_dict = {"1루" : 1, "2루" : 2, "3루" : 3, "1,2루" : 12, "1,3루" : 13, "2,3루" : 23, "만루" : 123}

result["Int_AfterOnBase"] = df["이후상황"].astype(str).apply(lambda x : x.split()[1]).map(after_dict)
result["Int_AfterOnBase"] = result["Int_AfterOnBase"].fillna(0)

In [281]:
# Int_AfterHomeScore 결과 이후 홈 점수 현황(홈=투수)
result["Int_AfterHomeScore"] = df["이후상황"].astype(str).apply(lambda x : x.split()[-1]).apply(lambda x : x.split(":")[0])

In [282]:
# Int_AfterAwayScore 결과 이후 어웨이 점수 현황(어웨이 = 타자)
result["Int_AfterAwayScore"] = df["이후상황"].astype(str).apply(lambda x : x.split()[-1]).apply(lambda x : x.split(":")[-1])

In [283]:
# IntStar_Dif.HomeScore 결과 전후 홈 점수 차이
result.iloc[56548] = result.iloc[56548].fillna(0)
result.loc[56548,["Int_BeforeHomeScore","Int_BeforeAwayScore","Int_AfterHomeScore","Int_AfterAwayScore"]] = 0
result["IntStar_Dif.HomeScore"] = pd.to_numeric(result["Int_AfterHomeScore"]) - pd.to_numeric(result["Int_BeforeHomeScore"])

In [284]:
# IntStar_Dif.AwayScore 결과 전후 어웨이 점수 차이
result["IntStar_Dif.AwayScore"] = pd.to_numeric(result["Int_AfterAwayScore"]) - pd.to_numeric(result["Int_BeforeAwayScore"])

In [285]:
# Sum_Score 득점 합(홈 어웨이 상관 없음)
result["Sum_Score"] = result["IntStar_Dif.HomeScore"] + result["IntStar_Dif.AwayScore"]

In [4]:
#result.to_excel("/content/drive/MyDrive/야구아카데미/1주차/backup.xlsx")
backup = pd.read_excel("/content/drive/MyDrive/야구아카데미/1주차/backup.xlsx", engine = "openpyxl")

In [5]:
result = backup.copy()

In [46]:
# Cnt_strike

df["ball_count"] = df["P"].copy()
result["Cnt_strike"] = df["ball_count"].astype(str).apply(lambda x : x.replace("2019-",""))
result["Cnt_strike"] = result["Cnt_strike"].astype(str).apply(lambda x : x.replace(" 00:00:00",""))
result["Cnt_strike"] = result["Cnt_strike"].apply(lambda x : x.replace("01","1"))
result["Cnt_strike"] = result["Cnt_strike"].apply(lambda x : x.replace("02","2"))
result["Cnt_strike"] = result["Cnt_strike"].apply(lambda x : x.replace("03","3"))
result["Cnt_strike"] = result["Cnt_strike"].apply(lambda x : x[0])

In [48]:
# Cnt_ball
df["ball_count"] = df["P"].copy()
result["Cnt_ball"] = df["ball_count"].astype(str).apply(lambda x : x.replace("2019-",""))
result["Cnt_ball"] = result["Cnt_ball"].astype(str).apply(lambda x : x.replace(" 00:00:00",""))
result["Cnt_ball"] = result["Cnt_ball"].apply(lambda x : x.replace("01","1"))
result["Cnt_ball"] = result["Cnt_ball"].apply(lambda x : x.replace("02","2"))
result["Cnt_ball"] = result["Cnt_ball"].apply(lambda x : x.replace("03","3"))
result["Cnt_ball"] = result["Cnt_ball"].apply(lambda x : x[2])

In [50]:
# Str_Result
# 2루타, 3루타, 견제사, 고의4구, 내야안타, 도루, 땅볼, 뜬공, 몸에맞는볼, 번트, 번트땅볼, 번트병살타
# 번트아웃, 번트안타, 번트야수선택, 번트파울뜬공, 병살타, 보크, 볼넷, 삼중살, 삼진, 삼진아웃, 스트라이크낫아웃출루,쓰리번트아웃
# 안타, 야수선택, 야수선택(희번), 인필드뜬공, 직선타, 직선타아웃, 타격방해, 타구맞음, 파울뜬공, 포일, 폭투, 플라이, 홈런, 홈런(그라운드)
# 희생번트, 희생플라이
# 40개

result["Str_Result"] = df["결과"].copy()

# [실책포함] 제거
result["Str_Result"] = result["Str_Result"].apply(lambda x : x.replace("[실책포함]", ""))

# 페르난데스/13927 이런거 제거
result["Str_Result"] = result["Str_Result"].apply(lambda x : x.split(":")[1] if ":" in x else x)

In [96]:
# 양쪽 여백 제거
result["Str_Result"] = result["Str_Result"].astype(str).apply(lambda x : x.strip())

In [99]:
# * 제거
result["Str_Result"] = result["Str_Result"].astype(str).apply(lambda x : x.replace("*",""))

In [101]:
# (이재원/10082) 제거
# 괄호안에 무슨 문자가 있든 괄호 제거할 수 있는 방법이 있나?
result["Str_Result"] = result["Str_Result"].astype(str).apply(lambda x : x.replace("(이재원/10082)",""))

In [103]:
# 실책 제거
result["Str_Result"] = result["Str_Result"].astype(str).apply(lambda x : x.replace("실책",""))

In [105]:
# 삼진 아웃 => 삼진아웃
result["Str_Result"] = result["Str_Result"].astype(str).apply(lambda x : x.replace("삼진 아웃","삼진아웃"))

In [107]:
# 몸에 맞는 볼 => 몸에맞는볼
result["Str_Result"] = result["Str_Result"].astype(str).apply(lambda x : x.replace("몸에 맞는 볼","몸에맞는볼"))

In [108]:
# 몸에 맞는 볼 => 몸에맞는볼
result["Str_Result"] = result["Str_Result"].astype(str).apply(lambda x : x.replace("몸에 맞는 볼","몸에맞는볼"))

In [109]:
# 쓰리번트 아웃 => 쓰리번트아웃
result["Str_Result"] = result["Str_Result"].astype(str).apply(lambda x : x.replace("쓰리번트 아웃","쓰리번트아웃"))

In [111]:
# 그라운드 홈런 => 홈런(그라운드)
result["Str_Result"] = result["Str_Result"].astype(str).apply(lambda x : x.replace("그라운드 홈런","홈런(그라운드)"))

In [127]:
# 공백으로 구분했을 때, 길이 2이상인 것은 첫번째 drop
result["Str_Result"] = result["Str_Result"].apply(lambda x : x.split()[1:] if len(x.split()) > 1 else x)

In [146]:
# 리스트 형 문자열로 변환
result["Str_Result"] = result["Str_Result"].apply(lambda x : "".join(x))

In [149]:
len(result["Str_Result"].value_counts())

40

In [154]:
result.drop("Unnamed: 0", axis = 1,inplace = True)

In [155]:
result.head(3)

,Int_Year,Int_Month,Int_Day,Str_Opp.Team,Int_Inning,Int_InningTopOrBottom,Str_Pitcher,Int_BattingOrder,Str_Batter,int_batter_no,Cnt_strike,Cnt_ball,Str_Result,Str_IncludeError,Str_Defender,Int_BeforeCntOut,Int_BeforeOnBase,Int_BeforeHomeScore,Int_BeforeAwayScore,Int_AfterCntOut,Int_AfterOnBase,Int_AfterHomeScore,Int_AfterAwayScore,IntStar_Dif.HomeScore,IntStar_Dif.AwayScore,Sum_Score
0,2019,3,23,한화,2,말,서폴드,6,페르난데스,1,1,3,병살타,NaN,2루수,0,1,0,0,2.0,0,0,0,0,0,0
1,2019,3,23,한화,4,말,서폴드,6,페르난데스,1,1,2,땅볼,NaN,유격수,2,0,1,2,0.0,0,1,2,0,0,0
2,2019,3,23,한화,6,말,서폴드,6,페르난데스,1,2,3,안타,NaN,우익수,2,12,2,2,2.0,13,2,3,0,1,1