<a href="https://colab.research.google.com/github/parktaeshin/baseball_academy/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', None) # 컬럼 수가 많으므로 요약되어 표시되지 않게 함
pd.set_option('display.max_rows', None) #  행 수가 많으므로 요약되어 표시되지 않게 함

In [3]:
df = pd.read_excel("/content/drive/MyDrive/야구아카데미/3주차/3w_calc_example(pub).xlsx의 사본",engine = "openpyxl")
#result = pd.read_excel("/content/drive/MyDrive/야구아카데미/2주차/Calc_kbo.xlsx",engine = "openpyxl", header = 1)
#cleansing = pd.read_excel("/content/drive/MyDrive/야구아카데미/2주차/cleaning_sample.xlsx",engine = "openpyxl")

In [4]:
df.head()

,Int_Year,Int_Month,Int_Day,Str_Opp.Team,Int_Inning,Int_InningTopOrBottom,Str_Pitcher,Int_BattingOder,Str_Batter,int_batter_no,Cnt_strike,Cnt_ball,Str_Result,Str_IncludeError,Str_Defender,Int_BeforeCntOut,Int_BeforeOnBase,Int_BeforeHomeScore,Int_BeforeAwayScore,Int_AfterCntOut,Int_AfterOnBase,Int_AfterHomeScore,Int_AfterAwayScore,IntStar_Dif.HomeScore,IntStar_Dif.AwayScore,Sum_Score
0,2019,3,23,한화,2,말,서폴드,6,페르난데스,1,1,3,병살타,Null,2루수,0,1,0,0,2,0,0,0,0,0,0
1,2019,3,23,한화,4,말,서폴드,6,페르난데스,1,1,2,땅볼,Null,유격수,2,0,1,2,0,0,1,2,0,0,0
2,2019,3,23,한화,6,말,서폴드,6,페르난데스,1,2,3,안타,Null,우익수,2,12,2,2,2,13,2,3,0,1,1
3,2019,3,23,한화,8,말,이태양,6,페르난데스,1,2,1,2루타,실책,좌익수,2,12,3,3,0,0,3,5,0,2,2
4,2019,3,24,한화,2,말,채드벨,6,페르난데스,1,2,0,삼진아웃,Null,NaN,1,0,2,0,2,0,2,0,0,0,0

In [5]:
# Int_BeforeCntOut	결과 전 아웃 카운트
# Int_BeforeOnBase	결과 전 베이스 현황
# Int_BeforeHomeScore	결과 전 홈 점수 현황(홈=투수)
# Int_BeforeAwayScore	결과 전 어웨이 점수 현황(어웨이=타자)
# Int_AfterCntOut	결과 이후 아웃 카운트
# Int_AfterOnBase	결과 이후 베이스 현황
# Int_AfterHomeScore	결과 이후 홈 점수 현황(홈=투수)
# Int_AfterAwayScore	결과 이후 어웨이 점수 현황(어웨이=타자)


# 예를들어 KBO 2011년의 경우 1아웃 2루 상황이 1512번 있었습니다. 그리고 이 상황 이후 이닝종료까지 만들어진 득점은 1109점이었습니다. 
# 그렇다면 [1사2루] 상황의 평균적인 기대득점은RE는 1109/1512 = 0.733이라 할 수 있다는 것

In [6]:
Int_BeforeCntOut_list = [0,1,2]
Int_BeforeOnBase_list = [0,1,2,3,12,13,23,123]

In [7]:
data = df.copy()
data = data.drop(columns = ["Int_Year"])
temp = data.copy()

indexs = temp[(temp["Int_BeforeCntOut"] == 2) & (temp["Int_AfterCntOut"] == 0)].index
temp.loc[indexs,"Int_AfterCntOut"] = 3

indexs = temp[(temp["Int_BeforeCntOut"] == 1) & ((temp["Str_Result"] == "병살타") | (temp["Str_Result"] == "번트병살타"))].index
temp.loc[indexs,"Int_AfterCntOut"] = 3

In [8]:
temp = temp.sort_values(by = ["Int_Month","Int_Day","Str_Opp.Team","Int_Inning","Int_InningTopOrBottom","Int_BeforeCntOut","Int_AfterCntOut","Int_BeforeAwayScore","Int_AfterAwayScore","Int_BeforeHomeScore","Int_AfterHomeScore","Str_Pitcher","Sum_Score","Int_AfterOnBase","Int_BattingOder"]).reset_index(drop = True)

In [10]:
# temp.tail(200)  후랭코프사이에 이용찬 껴있음...

In [11]:
data = temp.copy()

In [22]:
data.head(5)

,Int_Month,Int_Day,Str_Opp.Team,Int_Inning,Int_InningTopOrBottom,Str_Pitcher,Int_BattingOder,Str_Batter,int_batter_no,Cnt_strike,Cnt_ball,Str_Result,Str_IncludeError,Str_Defender,Int_BeforeCntOut,Int_BeforeOnBase,Int_BeforeHomeScore,Int_BeforeAwayScore,Int_AfterCntOut,Int_AfterOnBase,Int_AfterHomeScore,Int_AfterAwayScore,IntStar_Dif.HomeScore,IntStar_Dif.AwayScore,Sum_Score
0,3,23,KIA,1,초,양현종,1,이형종,43,0,0,안타,Null,좌익수,0,0,0,0,0,1,0,0,0,0,0
1,3,23,KIA,1,초,양현종,2,오지환,20,0,1,병살타,Null,2루수,0,1,0,0,2,0,0,0,0,0,0
2,3,23,KIA,1,초,양현종,3,김현수,9,2,3,삼진아웃,Null,NaN,2,0,0,0,3,0,0,0,0,0,0
3,3,23,KIA,2,초,양현종,4,조셉,99,2,0,삼진아웃,Null,NaN,0,0,0,0,1,0,0,0,0,0,0
4,3,23,KIA,2,초,양현종,5,채은성,33,2,2,뜬공,Null,좌익수,1,0,0,0,2,0,0,0,0,0,0

In [123]:
# index_아웃_주자상황 변수 생성

a = [0,1,2]
b = [0,1,2,3,12,13,23,123]


for i in a :
  for j in b :
    globals()["index_{0}_{1}".format(i,j)] = list(data[(data["Int_BeforeCntOut"] == i) & (data["Int_BeforeOnBase"] == j)].index)


# 맨끝방번호 추가
index_0_0.append(56666)

In [126]:
# 무사 주자없는 경우
data[(data["Int_BeforeCntOut"] == 0) & (data["Int_BeforeOnBase"] == 0)].shape

(13376, 25)

In [132]:
a = [0,1,2]

for i in a :
  temp = len(globals()["index_{0}_1".format(i)])
  print(temp)

3444
3803
3695

In [119]:
np.where((np.array(index_0_0[:10]) > 8) == True)

(array([3, 4, 5, 6, 7, 8, 9]),)

In [127]:
data.tail(10)

,Int_Month,Int_Day,Str_Opp.Team,Int_Inning,Int_InningTopOrBottom,Str_Pitcher,Int_BattingOder,Str_Batter,int_batter_no,Cnt_strike,Cnt_ball,Str_Result,Str_IncludeError,Str_Defender,Int_BeforeCntOut,Int_BeforeOnBase,Int_BeforeHomeScore,Int_BeforeAwayScore,Int_AfterCntOut,Int_AfterOnBase,Int_AfterHomeScore,Int_AfterAwayScore,IntStar_Dif.HomeScore,IntStar_Dif.AwayScore,Sum_Score
56656,10,26,키움,9,초,브리검,5,최주환,82,1,1,뜬공,Null,좌익수,0,0,9,8,1,0,9,8,0,0,0
56657,10,26,키움,9,초,브리검,6,김재호,46,2,3,볼넷,Null,NaN,1,0,9,8,1,1,9,8,0,0,0
56658,10,26,키움,9,초,브리검,7,박세혁,35,0,0,뜬공,Null,좌익수,1,1,9,8,2,1,9,8,0,0,0
56659,10,26,키움,9,초,브리검,8,허경민,23,2,0,삼진,Null,NaN,2,1,9,8,3,0,9,8,0,0,0
56660,10,26,키움,10,초,브리검,9,오재원,107,0,1,2루타,Null,중견수,0,0,9,9,0,2,9,9,0,0,0
56661,10,26,키움,10,초,브리검,1,정진호,134,0,0,희생번트,Null,투수,0,2,9,9,1,3,9,9,0,0,0
56662,10,26,키움,10,초,브리검,2,정수빈,32,2,2,삼진아웃,Null,NaN,1,3,9,9,2,3,9,9,0,0,0
56663,10,26,키움,10,초,브리검,3,오재일,26,0,0,2루타,Null,우익수,2,3,9,9,2,2,10,9,1,0,1
56664,10,26,키움,10,초,오주원,4,김재환,13,2,0,안타,Null,좌익수,2,2,10,9,2,2,11,9,1,0,1
56665,10,26,키움,10,초,오주원,5,최주환,82,1,1,직선타아웃,Null,유격수,2,2,11,9,3,0,11,9,0,0,0

In [64]:
R_list = []

# Int_AfterHomeScore로 구하면 될 듯
a = data.loc[index_00[1]-1,"Int_AfterHomeScore"] - data.loc[index_00[0],"Int_AfterHomeScore"]
R_list.append(a)
print(R_list)

[0]

In [29]:
data.tail(20)

,Int_Month,Int_Day,Str_Opp.Team,Int_Inning,Int_InningTopOrBottom,Str_Pitcher,Int_BattingOder,Str_Batter,int_batter_no,Cnt_strike,Cnt_ball,Str_Result,Str_IncludeError,Str_Defender,Int_BeforeCntOut,Int_BeforeOnBase,Int_BeforeHomeScore,Int_BeforeAwayScore,Int_AfterCntOut,Int_AfterOnBase,Int_AfterHomeScore,Int_AfterAwayScore,IntStar_Dif.HomeScore,IntStar_Dif.AwayScore,Sum_Score
56646,10,26,키움,6,초,조상우,4,김재환,13,0,3,볼넷,Null,NaN,0,12,9,8,0,123,9,8,0,0,0
56647,10,26,키움,6,초,조상우,5,최주환,82,2,1,삼진아웃,Null,NaN,0,123,9,8,1,123,9,8,0,0,0
56648,10,26,키움,6,초,조상우,6,김재호,46,2,1,삼진아웃,Null,NaN,1,123,9,8,2,123,9,8,0,0,0
56649,10,26,키움,6,초,조상우,7,박세혁,35,2,1,삼진아웃,Null,NaN,2,123,9,8,3,0,9,8,0,0,0
56650,10,26,키움,7,초,윤영삼,8,허경민,23,1,1,땅볼,Null,3루수,0,0,9,8,1,0,9,8,0,0,0
56651,10,26,키움,7,초,윤영삼,9,오재원,107,1,1,번트아웃,Null,투수,1,0,9,8,2,0,9,8,0,0,0
56652,10,26,키움,7,초,윤영삼,1,국해성,194,2,1,삼진아웃,Null,NaN,2,0,9,8,3,0,9,8,0,0,0
56653,10,26,키움,8,초,윤영삼,2,정수빈,32,2,2,삼진,Null,NaN,0,0,9,8,1,0,9,8,0,0,0
56654,10,26,키움,8,초,윤영삼,3,오재일,26,2,2,삼진아웃,Null,NaN,1,0,9,8,2,0,9,8,0,0,0
56655,10,26,키움,8,초,윤영삼,4,김재환,13,2,2,뜬공,Null,포수,2,0,9,8,3,0,9,8,0,0,0
56656,10,26,키움,9,초,브리검,5,최주환,82,1,1,뜬공,Null,좌익수,0,0,9,8,1,0,9,8,0,0,0
56657,10,26,키움,9,초,브리검,6,김재호,46,2,3,볼넷,Null,NaN,1,0,9,8,1,1,9,8,0,0,0
56658,10,26,키움,9,초,브리검,7,박세혁,35,0,0,뜬공,Null,좌익수,1,1,9,8,2,1,9,8,0,0,0
56659,10,26,키움,9,초,브리검,8,허경민,23,2,0,삼진,Null,NaN,2,1,9,8,3,0,9,8,0,0,0
56660,10,26,키움,10,초,브리검,9,오재원,107,0,1,2루타,Null,중견수,0,0,9,9,0,2,9,9,0,0,0
56661,10,26,키움,10,초,브리검,1,정진호,134,0,0,희생번트,Null,투수,0,2,9,9,1,3,9,9,0,0,0
56662,10,26,키움,10,초,브리검,2,정수빈,32,2,2,삼진아웃,Null,NaN,1,3,9,9,2,3,9,9,0,0,0
56663,10,26,키움,10,초,브리검,3,오재일,26,0,0,2루타,Null,우익수,2,3,9,9,2,2,10,9,1,0,1
56664,10,26,키움,10,초,오주원,4,김재환,13,2,0,안타,Null,좌익수,2,2,10,9,2,2,11,9,1,0,1
56665,10,26,키움,10,초,오주원,5,최주환,82,1,1,직선타아웃,Null,유격수,2,2,11,9,3,0,11,9,0,0,0

In [35]:
index_00[13375]

56660

9

In [56]:
data.loc[index_00[13376]-1,"Int_AfterHomeScore"]

11

In [ ]:
# Int_BeforeCntOut	결과 전 아웃 카운트
# Int_BeforeOnBase	결과 전 베이스 현황
# Int_BeforeHomeScore	결과 전 홈 점수 현황(홈=투수)
# Int_BeforeAwayScore	결과 전 어웨이 점수 현황(어웨이=타자)
# Int_AfterCntOut	결과 이후 아웃 카운트
# Int_AfterOnBase	결과 이후 베이스 현황
# Int_AfterHomeScore	결과 이후 홈 점수 현황(홈=투수)
# Int_AfterAwayScore	결과 이후 어웨이 점수 현황(어웨이=타자)


# 예를들어 KBO 2011년의 경우 1아웃 2루 상황이 1512번 있었습니다. 그리고 이 상황 이후 이닝종료까지 만들어진 득점은 1109점이었습니다. 
# 그렇다면 [1사2루] 상황의 평균적인 기대득점은RE는 1109/1512 = 0.733이라 할 수 있다는 것